<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="widget">
					{% if logo %}
						<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid "/></a>
					{% else %}
						<h1>
							<a href="{{ home }}">{{ name }}</a>
						</h1>
					{% endif %}
				</div>
			</div>
			{% if informations %}
				<div class="col-sm-2">
					<div class="widget">
						<div class="widget-title">
							<h5 class="footer-title">{{ text_information }}</h5>
							<span class="dropdown">
								<i class="fa fa-angle-down"></i>
							</span>
						</div>
						<div class="widget-inner">
							<ul class="list-unstyled">

								<li>
									<a href="{{home}}">Home</a>
								</li>
								{% for information in informations %}
									<li>
										<a href="{{ information.href }}">{{ information.title }}</a>
									</li>
								{% endfor %}
								<li>
									<a href="{{ contact }}">{{ text_contact }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-sm-3">
				<div class="widget">
					<div class="widget-title">
						<h5 class="footer-title">{{ text_service }}</h5>
						<span class="dropdown">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>
					<div class="widget-inner">
						<ul class="list-unstyled column-2">

							<li>
								<a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
							</li>
							<li>
								<a href="{{ voucher }}">{{ text_voucher }}</a>
							</li>
							<li>
								<a href="{{ affiliate }}">{{ text_affiliate }}</a>
							</li>
							<li>
								<a href="{{ special }}">{{ text_special }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="widget">
					<div class="widget-title">
						<h5 class="footer-title">{{ text_extra }}</h5>
						<span class="dropdown">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>
					<div class="widget-inner">
						<ul class="list-unstyled">
							<li>
								Address:
								{{config_address}}
							</li>
							<li>
								Phone:
								<a href="tel:{{ telephone }}">{{ telephone }}</a>
							</li>
							<li>
								Mobile:
								<a href="tel:{{ telephone }}">{{ telephone }}</a>
							</li>
							<li>
								WhatsApp:
								<a href="https://wa.me/20{{whatsapp}}">{{ whatsapp }}</a>

							</li>
							<li>
								E-mail:
								<a href="mailto:{{ config_email }}">{{ config_email }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>
<div class="footer-copyright">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center position-relative">
			<span>{{ powered }}</span>
			<a id="top" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Back to top">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</a>
			<ul class="list-unstyled ae-social">
				{% for social in socials %}
					<li data-toggle="tooltip" data-placement="bottom" title="{{social.setting.name}}" data-original-title="{{social.setting.name}}">
						<a class="{{social.setting.name}}-icon" href="{{social.setting.link}}" target="_blank">
							<i class="{{social.setting.icon_class}}"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}</body></html>
