<div class="list-wrap">
	<div class="widget-title">
		<h4 class="h-s mb-4">{{heading_title}}</h4>
	</div>
	<ul class="list-unstyled">
		{% for category in categories %}
			{% if category.category_id == category_id %}
				<li class="d-flex align-items-center justify-content-between flex-wrap list-item active">
					<a href="{{ category.href }}" class="list-link">{{ category.name }}</a>
					<span class="count">{{category.count}}</span>
				</li>
				{% if category.children %}
					{% for child in category.children %}
						{% if child.category_id == child_id %}
							<li class="d-flex align-items-center justify-content-between flex-wrap list-item active">
								<a href="{{ child.href }}" class="list-link">&nbsp;&nbsp;&nbsp;-
									{{ child.name }}</a>
								<span class="count">{{child.count}}</span>
							</li>
						{% else %}
							<li class="d-flex align-items-center justify-content-between flex-wrap list-item">
								<a href="{{ child.href }}" class="list-link">&nbsp;&nbsp;&nbsp;-
									{{ child.name }}</a>
								<span class="count">{{child.count}}</span>
							</li>
						{% endif %}
					{% endfor %}
				{% endif %}

			{% else %}
				<li class="d-flex align-items-center justify-content-between flex-wrap list-item">
					<a href="{{ category.href }}" class="list-link">{{ category.name }}</a>
					<span class="count">{{category.count}}</span>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
